* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $figtree-regular;
  color: $primary-text-color;
  //    line-height: 1.8;
  //    line-height: lh(26px);
}

body {
  background-color: $primary-background-color;

  @include for-normal-layout {
    // &.sidebar-open {
    // }
  }
}
#app {
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {

// }

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}
