// Flex
.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.align-start {
    align-items: flex-start;
  }
}

.grid {
  display: grid;
  &-col {
    grid-auto-flow: column;
  }
}

// TODO: icon-btn class
// TODO: classic btn
