.main-layout {
  position: relative;
  display: grid;
  grid-template-columns: 66px auto 1fr;
  grid-template-areas: 'app-sidenav workspace-sidenav board';

  @include for-mobile-layout {
    &.board-index:has(.workspace-close) {
      grid-template-columns:8vw 92vw;
      grid-template-areas: "workspace-sidenav board";
      .app-sidenav{
        display:none;
      }
      .board-container{
        display:block;
      }
    }
    &.board-index {
      grid-template-columns: 4rem 1fr;
      grid-template-areas: "app-sidenav workspace-sidenav";
      .board-container{
        display:none;
      }
    }
   
  }
}

.home-page-layout {
  display: grid;
  grid-template-columns: $layoutPadding 1fr $layoutPadding;

  > * {
    grid-column: 2;
  }

  > *.full {
    grid-column: 1 / -1;
  }

  > *:not(.full) {
    display: grid;
    grid-auto-flow: column;
    &:is(.app-header) {
      justify-content: space-between;
    }
  }

  @include for-narrow-layout {
    @include layoutGTC($break-narrow);
  }

  @include for-normal-layout {
    @include layoutGTC($break-normal);
  }

  @include for-wide-layout {
    @include layoutGTC($break-wide);
  }
}
