/* Media queries Breakpoint mixins */
@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

/* Media  Mixins */

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

// Type
@mixin type($type: bold) {
  // type options:
  // 1.bold
  // 2.boldCondensed
  // 3.condensed
  @if $type == bold {
    font-weight: 900;
  } @else if $type == boldCondensed {
    font-weight: 430;
    letter-spacing: em(6.72px);
  } @else if $type == condensed {
    letter-spacing: em(6.72px);
  } @else if $type == light {
    font-weight: 200;
  }
}

@mixin tooltip($pos: bottom) {
  position: absolute;

  background-color: #323338;
  color: #f8f8f8;
  padding: em(5px) em(10px);
  border-radius: 4px;
  font-size: em(14px, 40px);
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;

  @if $pos == bottom {
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
  } @else if $pos == right {
    // TODO: fix positioning
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
  } @else if $pos == top {
    // TODO: fix positioning
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
  }

  @include tooltip-arrow();
}

@mixin tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: em(5px) solid transparent;
  border-right: em(5px) solid transparent;
  border-top: em(5px) solid black;
}

@mixin btn{
  padding: $padding-small;
  border: none;
  font-size: rem(14px);
  cursor: pointer;
  transition: background-color 100ms ease-in
}


@mixin btn-hover {
  background-color: $primary-background-hover-color;
  border-radius: $btn-border-radius;
}

@mixin btn-transparent{
  background-color: transparent;
  color: $color-mud_black;
}

@mixin btn-blue{
  background-color: $color-blue-btn;
  color: $color-snow_white;
  border-radius: none;
  border-radius: $btn-border-radius;
}
@mixin btn-blue-hover{
  background-color: $primary-hover-color;
  
}

@mixin sidenav {
  height: 100vh;
  width: 100%;
}
@mixin icon($color: #ffffff) {
  height: 23px;
  width: 23px;
  fill: $color;
}


@mixin task-cols{
  display:grid;
  grid-template-columns: 2% 2fr 1fr 1fr 1fr 1fr;
  border: 1px solid $color-board_views_grey_hover;
  margin-top: -1px;
  > *{
    justify-self: center;
  }
}

@mixin editableSpan{
  border-radius: $border-radius;
  &:hover{
    border: 1px solid $color-wolf_gray
  }
  &:focus-visible{
    outline: 1px solid $color-basic_blue;
    padding-inline-end: 450px;
  }
}
