/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

// Type
@mixin type($type: bold) {
  // type options:
  // 1.bold
  // 2.boldCondensed
  // 3.condensed
  @if $type == bold {
    font-weight: 900;
  } @else if $type == boldCondensed {
    font-weight: 430;
    letter-spacing: em(6.72px);
  } @else if $type == condensed {
    letter-spacing: em(6.72px);
  } @else if $type == light {
    font-weight: 200;
  }
}

@mixin tooltip($pos: bottom) {
  position: absolute;

  background-color: $color-mud_black;
  color: $color-riverstone_gray;
  padding: em(5px) em(10px);
  border-radius: $border-radius;
  font-size: em(14px, 40px);
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;

  @if $pos == bottom {
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
  } @else if $pos == right {
    // TODO: fix positioning
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
  } @else if $pos == top {
    // TODO: fix positioning
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
  }

 // @include tooltip-arrow();
}

@mixin tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: em(5px) solid transparent;
  border-right: em(5px) solid transparent;
  border-top: em(5px) solid black;
}

@mixin modal-arrow{
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 0px;
  width: 0px;
  border-right: solid 25px transparent;
  border-left: solid 25px transparent;
  border-bottom: solid 25px $color-snow_white;
}

@mixin btn($type: ''){
  padding: $padding-small;
  border: none;
  font-size: rem(14px);
  cursor: pointer;
  transition: background-color 100ms ease-in;

  @if $type == transparent{
    background-color: transparent;
    color: $color-mud_black;

    &:hover{
      background-color: $primary-background-hover-color;
      border-radius: $btn-border-radius;  
    }
  }

  @if $type == 'login'{
    background-color: $primary-on-secondary-color;
    color: $color-snow_white;
    border-radius: $btn-border-radius;
     &:hover{
      background-color: $primary-hover-on-secondary-color;
     }
  }
}

@mixin btn-blue{
  background-color: $color-blue-btn;
  color: $color-snow_white;

  &:hover {
    background-color: $primary-hover-color;
  }
}

@mixin btn-get-started($hight, $width){
  @include flex-center;
  position: relative;
  width: $width;
  height: $hight;
  border: none;
  border-radius: 50px;
  padding: 20px;
  color: $color-snow_white;
 
 @include arrow-after;
}

@mixin arrow-after{
  &::after {
      content: '  →';
      position: absolute;
      top: 28%;
      right: 15%;
      color: inherit;
      transition: all .5s ease-in-out;
    }
  
    &:hover::after {
      right: 10%;
    }
}

@mixin sidenav {
  height: 100vh;
  width: 100%;
}

@mixin icon($color: $color-snow_white) {
  height: 23px;
  width: 23px;
  fill: $color;
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin task-cols{
  display:grid;
  grid-template-columns:6px 33px 300px repeat(6,120px);

  cursor: pointer;
  margin-top: -1px;
}

@mixin task-row{
  border-right: 1px solid $layout-border-color;
  margin-right: -1px;
  width:100%;
}

@mixin editableSpan{
  border-radius: $border-radius;
  padding: 2px;
  &:hover{
    outline: 1px solid $color-wolf_gray
  }
  &:focus-visible{
    outline: 1px solid $color-basic_blue;
    padding-inline-end: rem(100px);
  }
}

@mixin fullSize{
  width: 100%;
  height: 100%;
}