@font-face {
    font-family: 'poppins-light';
    src: url(@/assets/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'poppis-medium';
    src: url(@/assets/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppins-bold';
    src: url(@/assets/fonts/poppins/Poppins-SemiBold.ttf);
}