.board-container{
overflow-y: auto;
height: 100vh;
  .board-table {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &:has(.kanban-layout, .dashboard-container){
    overflow: hidden;
  }  
}
