.activity{
  grid-template-columns: 56px 30px minmax(200px,1fr) 16px 40px 80px 16px 150px;

  >*{
    @include flex-center;
    height: 56px;
    padding: 8px 0;
    align-self: center;
    border-bottom: 1px solid $ui-border-color;
  }

  p{
    justify-content: start;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .activity-values{
    grid-template-columns: 60px 15px 60px;
    pointer-events: none
  }

}