.app-sidenav {
  @include sidenav;
  grid-area: app-sidenav;
  position: relative;
  background-color: $color-surface;

  .icon {
    @include icon;
  }
  .monday-icon-wrapper {
    width: em(66px);
    height: em(44px);
    margin-bottom: em(8px);
    img {
      height: 40px;
      overflow: visible;
      border-radius: em(8px);
      &:hover {
        background-color: #00000099;
      }
    }
  }
  .icon-wrapper {
    width: 100%;
    margin-bottom: em(8px);
    .svg {
      @include flex-center;
    }
    .nav-item {
      height: em(36px);
      width: em(36px);
      border-radius: 6px;
    }
  }
  .bottom-icon-wrapper {
    width: em(42px);
    height: em(42px);
  }
  .top-navigation-items-area {
    flex-grow: 1;
  }
  .bottom-navigation-items-area {
    flex-shrink: 0;
    padding-bottom: em(1px);
  }
  .navigation-style-divider {
    margin: 0 em(8px) em(12px);
    width: em(50px);
    height: em(1px);
    background-color: $color-asphalt;
  }
  .footer-navigation-items-area {
    margin-bottom: em(16px);

    .navigation-style-divider {
      margin: 0 0 em(12px);
    }
    .avatar-wrapper {
      .avatar-preview {
        border-radius: 50%;
        border: 2px solid $color-snow_white;
        width: rem(44px);
        height: rem(44px);
      }
    }
  }
  .workspace-arrow-left-div {
    position: absolute;
    top: 74px;
    left: 61px;

    border-style: solid;
    border-width: 0.5rem 6px 0.5rem 0;
    border-color: transparent $grey-background-color transparent transparent;
  }
}
