.board-index{
  &:has(.kanban-editor.active){
    .kanban-filter{
      display:flex;
      @include for-mobile-layout {
        align-items: center;
      }
    }
    .kanban-layout {
      grid-template-columns: 14px 1fr 268px;
    }
  } 

  @include for-mobile-layout {
    &:has(.workspace-close) {
      grid-template-columns:8vw 92vw;
      grid-template-areas: "workspace-sidenav board";
      .app-sidenav{
        display:none;
      }
      .board-container{
        display:block;
      }
    }
 
    grid-template-columns: 4rem 1fr;
    grid-template-areas: "app-sidenav workspace-sidenav";
    .board-container{
      display:none;
    }
  }
}