.group-preview{
  margin-bottom: 30px;
  line-height: 35px;
  

  .group-title{
    @include editableSpan;
    display:inline-flex;
    font-size: rem(18px);
    font-weight: bold;
    margin:em(5px);
    
    &:focus-visible {
      width: 200px;
    }
    &:hover +.tasks-num{
       opacity: 1;
    }
  }
  .tasks-num{
    color: $color-mud_black;
    font-size: rem(14px);
    opacity: 0;
 }


  .progress-grid{
    @include task-cols;
    border:none;

    >*:not(:first-child,:nth-child(2)){
      display:block;
      border: 1px solid $color-board_views_grey_hover;
      width:100%;
      margin: 0 -1px;
    } 
  }

  .group-labels{
    @include task-cols;

    &>*{
      text-transform: capitalize;
    }
    
    
    &:is(:first-of-type,:last-of-type){
      border-top-left-radius: $border-radius;
      width: 100%;
    }
  }

  .status-progress-container{
    height:20px;
    >*:hover{
      scale:1.2
    }
  }
  }




