.group-preview {
  margin-top: rem(2px);
  margin-bottom: em(30px);
  font-size: 14px;
  .grid-title {
    @include task-cols;
    .group-actions-wrapper {
      @include flex-center;
    }
    .svg-wrapper {
      @include flex-center;
      grid-column: 1;
      position: relative;
      .dots-icon {
        @include flex-center;
        opacity: 0;
        border-radius: $btn-border-radius;
        &:hover {
          background-color: $primary-background-hover-color;
        }
        &.active {
          opacity: 1;
          background-color: $color-highlight_blue;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &:hover .dots-icon {
      opacity: 1;
    }
    .open-list {
      @include flex-center;
      position: sticky;
      left: 46px;
      grid-column: 3;
      @include flex-center;
      &-icon {
        @include flex-center;
      }
    }
    .group-title-wrapper {
      position: sticky;
      left: 79px;
      grid-column: 4;

      &:has(.group-title:focus-visible) .btn-color {
        display: inline-block;
      }

      .color-picker-wrapper {
        position: relative;
      }

      .btn-color {
        width: em(27px);
        height: em(27px);
        border-radius: 50%;
        margin-inline-end: em(5px);
        display: none;
        border: none;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
      }

      .group-title {
        @include editableSpan;
        display: inline-flex;
        font-size: rem(18px);
        margin: em(5px);
        transition: outline 3s;
        align-items: center;
        font-family: $poppins-light;
        font-weight: bold;
        position: relative;

        &:hover {
          outline: 1px solid #c3c6d4;
          border-radius: 4px;
        }
        &:focus-visible {
          width: 200px;
          padding-left: 30px;
        }
        &:hover + .tasks-num {
          opacity: 1;
        }
      }
    }

    .tasks-num {
      color: $color-mud_black;
      font-size: rem(14px);
      opacity: 0;
    }
  }
  .first-col-color {
    @include fullSize;
    grid-column: 2;
    left: 40px;
    position: sticky;
    left: 40px;
    top: 0px;
    // border-top-left-radius: $border-radius;
  }
  .progress-grid {
    @include task-cols;

    > *:not(:first-child, :nth-child(2), :nth-child(3)) {
      @include task-row;
      border: 1px solid $layout-border-color;
    }
    > :nth-child(4) {
      border-radius: 0 0 0 $border-radius-rounder;
    }
    > :last-child {
      border-right: none;
    }
  }
  .group-labels {
    @include task-cols;
    text-transform: capitalize;
    text-align: center;

    > *:not(:first-child, :nth-child(2)) {
      padding: 6px;
      @include task-row;
      border-bottom: 1px solid $layout-border-color;
      margin-bottom: -1px;
    }
    &:nth-child(4) {
      background-color: red;
    }
    & > *:nth-child(-n + 4) {
      position: sticky;
      z-index: 1;
    }

    .first-col-color {
      border-top-left-radius: $border-radius-rounder;
    }
    .group-checkbox {
      @include flex-center;
      height: 100%;
    }
    .group-label {
      background-color: $color-snow_white;
      &.title {
        z-index: 1;
        position: sticky;
        left: 79px;
      }
      &:first-of-type {
        position: sticky;
        left: 0;
      }
      &:nth-of-type(2) {
        left: 40px;
      }
      &:nth-of-type(3) {
        left: 46px;
      }
      &:nth-child(4) {
        left: 79px;
      }
    }
  }
  .status-progress-container {
    height: rem(40px);
    align-items: center;
    margin: auto;
    width: 90%;
    > * {
      height: 24px;
      &:hover {
        scale: 1.1;
        border-radius: $border-radius;
      }
    }
  }
  .add-task-container {
    @include task-cols;
    border-radius: 0 0 0 $border-radius-rounder;
    opacity: 0.5;

    *:not(:first-child, .task-option) {
      border-bottom: 1px solid $layout-border-color;
    }

    &:hover {
      opacity: 1;
      background-color: $color-border_light_gray;
    }
    & :nth-child(3) {
      position: sticky;
      left: 46px;
    }
    .first-col-color {
      @include fullSize;
      border-radius: 0 0 0 $border-radius-rounder;
    }

    &:has(.add-task-input-container input:focus-within) {
      background-color: $color-highlight_blue;

    }

    .add-task-input-container {
      position: sticky;
      left: 78px;
      top: 0px;
      grid-column: 4;
      padding: em(4px) em(3px);
      border-left: 1px solid $layout-border-color;
      margin-left: -1px;

      input {
        padding: em(4px) 0;
        padding-inline-start: 30px;
        margin: auto;
        width: 95%;
        border-radius: $border-radius;
        border: 1px solid transparent;
        &:hover {
          border-color: $ui-border-on-secondary-color;
        }
        &:focus-within {
          outline: 1px solid $color-basic_blue;
        }
      }
    }
  }
}

.task-options {
  width: 40px;
  background-color: $color-snow_white;
  left: 0;
}
