.group-list {
  position: absolute;
  padding-top: 18px;
  &::before {
    content: '';
    width: 38px;
    display: block;
  }

  @include for-mobile-layout{
    .group-list-draggable{
      touch-action: auto;
    }
  }
}
