.group-actions-wrapper {
  @include flex-center;
  position: sticky;
  z-index: 103;
  left: 0;
  height: 100%;

  &:hover {
    .dots-icon {
      opacity: 1;
    }
  }
  .dots-icon {
    opacity: 0;
  }
}
.group-actions-list {
  @include actions-list(rem(230px), rem(200px), 110);
 
  .group-action {
    @include action;
  }
  .icon-wrapper {
    @include flex-center;
    grid-column: 1;
    position: relative;
    .dots-icon {
      @include flex-center;
      border-radius: $btn-border-radius;
      &:hover {
        background-color: $primary-background-hover-color;
      }
      &.active {
        opacity: 1;
        background-color: $color-highlight_blue;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.group-list:not(:has(.dots-icon.active)) .group-actions-wrapper{
  background-color: $color-snow_white;
}

.group-list:has(.group-menu-active) .group-actions-wrapper.task-options {
  opacity: 0;
}
