.home-page {
  align-content: center;
  &-body {
    position: relative;
    padding-top: rem(50px);
    padding-bottom: rem(60px);
    height: 60vh;
    & > *:not(.el-carousel) {
      justify-self: center;
      margin-bottom: $margin-medium;
    }
    background: linear-gradient(rgb(0, 1, 51) 0%, rgb(15, 16, 72) 100%);
    color: $color-snow_white;
    font-family: $figtree-regular;
    text-align: center;
    &-title {
      width: 740px;
      height: 230px;
      font-family: $poppins-light;
    }
    &-header {
      z-index: 1;
      font-weight: 400;
      font-size: 4.5rem;
      line-height: rem(78px);
    }
    &-body-header {
      max-width: min(800px, 1440px);
      font-size: rem(72px);
      line-height: rem(85px);
      padding-bottom: rem(12px);
      margin-block-end: rem(16px);
      text-align: center;
    }
    &-sub-header {
      position: relative;
      font-weight: 200;
      font-size: 1.375rem;
      .underline {
        position: absolute;
        transform: rotate(0deg);
        width: 105px;
        bottom: 0%;
        left: 38%;
        height: 1px;
        background: linear-gradient(90deg, transparent, #fff);
      }
    }
    .btn-get-started {
      z-index: 1;
      @include btn-get-started(50px, 175px);
      background: linear-gradient(90deg, #5034ff 25.69%, #b4b4ff 100%);
    }
  }

  //CAROUSEL
  .home-page-carousel {
    color: rgb(255, 255, 255);
    background: rgb(15, 16, 72);
    &-wrapper {
      min-height: 30vw;
      overflow-y: hidden;
    }
  }
  .el-carousel__item {
    h3 {
      color: #475669;
      opacity: 0.75;
      line-height: 200px;
      margin: 0;
      text-align: center;
    }

    img {
      width: 100%;
    }

    &:nth-child(2n) {
      background-color: #99a9bf;
    }

    &:nth-child(2n + 1) {
      background-color: #d3dce6;
    }
  }
  .el-carousel__horizontal {
    overflow-y: hidden;
  }
  .el-carousel__indicator--horizontal {
    display: none;
  }
  .el-carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  //STARS
  .star {
    background-image: url(https://dapulse-res.cloudinary.com/image/upload/Generator_featured%20images/Home%20Page%20-%202022%20Rebrand/parallax/integrations/star.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 500px;
    background-size: cover;
    width: 8.55173px;
    height: 8.55173px;
    border-radius: 50%;
    will-change: transform;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: twinkle;
    animation-duration: 2s;
    &1 {
      top: 15%;
      left: 30%;
      width: 10px;
      height: 10px;
    }
    &2 {
      top: 40%;
      left: 15%;
    }
    &3 {
      top: 30%;
      left: 30%;
    }
    &4 {
      top: 60%;
      left: 80%;
      width: 10px;
      height: 10px;
    }
    &5 {
      top: 55%;
      left: 55%;
    }
    &6 {
      top: 60%;
      left: 35%;
      width: 10px;
      height: 10px;
    }
    &7 {
      top: 98%;
      left: 33%;
    }
    &8 {
      top: 15%;
      left: 70%;
    }
    &9 {
      top: 30%;
      left: 42%;
    }
    &10 {
      top: 62%;
      left: 63%;
    }
    &11 {
      top: 40%;
      left: 90%;
      width: 10px;
      height: 10px;
    }
    &12 {
      top: 35%;
      left: 80%;
      width: 5px;
      height: 5px;
    }
    &13 {
      top: 56%;
      left: 8%;
      width: 12px;
      height: 12px;
    }
    &14 {
      top: 53%;
      left: 84%;
      width: 5px;
      height: 5px;
    }
    &15 {
      top: 63%;
      left: 42%;
    }
    &16 {
      top: 16%;
      left: 3%;
      width: 5px;
      height: 5px;
    }
    &17 {
      top: 35%;
      left: 10%;
      width: 5px;
      height: 5px;
    }
    &18 {
      top: 65%;
      left: 2%;
    }
    &19 {
      top: 52%;
      left: 24%;
    }
    &20 {
      top: 13%;
      left: 93%;
      width: 5px;
      height: 5px;
    }
  }
}

@keyframes twinkle {
  0% {
    transform: scale(0.3);
    opacity: 0.5;
  }
}
