.task-pulse {
  z-index: 2023;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: em(629px);
  box-shadow: $box-shadow-large;
  background-color: $color-snow_white;
  overflow-y: auto;

  header {
    border-bottom: 0.5px solid $workspace-side-nav;
    padding: em(20px) em(20px) 0 em(24px);

    .home-icon {
      height: 16px;
      width: 16px;
    }
    .btn {
      @include btn(transparent);
      @include flex-center;
      width: 100%;
     height: em(32px);
        
      &-close {
        @include flex-center;
        padding: 0;
        height: em(24px);
        width: em(24px);
        text-align: center;
        margin-bottom:em(7px);
        .close-icon{
          @include flex-center;
          height: 24px;
          width: 24px;
          // color: $ui-bord;
        }
      }
    }

    .task-title-container{
      margin-bottom: em(8px);
      .task-title {
        @include editableSpan;
        font-family: $poppins-light;
        font-weight: 1000;
        font-size: em(24px);
        color: $color-mud_black;
      }
    }
    .tabs-wrapper {
      height: fit-content;
      .task-update-icon {
        padding-inline-end: em(4px);
        padding-block-start: em(1.4px);
      }
      .btn-tab-wrapper {
        @include flex-center;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
      }

      .border {
        width: 1px;
        height: 15px;
        background-color: $layout-border-color;
        padding: 0;
        transform: translateY(75%);
      }

      &:has(.btn-tab:hover) .border {
        opacity: 0;
      }

      .btn-tab-wrapper.active-tab {
        border-color: $primary-on-secondary-color;
      }
    }
  }

  .content-wrapper {
    padding: em(24px);
  }

  &:hover + .screen {
    display: block;
  }
}

.screen {
  position: absolute;
  background: $transparent-overlay;
  inset: 0;
  z-index: 1000;
  opacity: 0.5;
  display: none;
  transition: background-color 0.1s ease;
}
