.task-list {
  @include task-cols;
  background-color: $color-snow_white;

  >*:not(:first-child){
    border-top: 1px solid $ui-border-color;
  }
  
  &:last-child > *:not(:first-child) {
    border-bottom: 1px solid $layout-border-color;
  }
  font-size: rem(18px);

  .first-col-color {
    @include fullSize;
  }
  &:not(:has(a.router-link-active)) > *:not(:first-child) {
    background-color: $color-snow_white;
  }
  &:hover:not(:has(a.router-link-active)) > *:not(:first-child) {
    background-color: $dark-background-color;
  }
  &:hover:not(:has(a.router-link-active)) > *:first-child {
    opacity: 1;
  }
  &:has(a.router-link-active) {
    background-color: $color-highlight_blue;
    .task-preview {
      border-top-color: $color-basic_blue;
      border-bottom: 1px solid $color-basic_blue;
    }
  }

  & > *:nth-child(-n + 3) {
    position: sticky;
    top: 0;
    height: 100%;
  }
}
