.task-actions-wrapper {
  @include flex-center;
  position: sticky;
  z-index: 100;
  left: 0;
  height: 100%;
  background-color: $color-snow_white;

  &:hover {
    .dots-icon {
      opacity: 1;
    }
  }
}
.task-actions {
  position: relative;

}
.task-actions-list {
  @include actions-list;
 left:0;
 top:10px;

  .task-action {
    @include action;
  }
}
.svg-wrapper {
  grid-column: 1;
  position: relative;
  .dots-icon {
    @include flex-center;
    opacity: 0;
    border-radius: $btn-border-radius;
    &:hover {
      background-color: $primary-background-hover-color;
    }
    &.active {
      background-color: $color-highlight_blue;
      opacity: 1;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.group-preview:has(.dots-icon.active) .task-actions-wrapper {
  background-color: transparent;
}
