.task-preview{
  @include task-row;
  
 &:nth-child(3){
  padding: 6px;
 }
 
  >*{
    font-size: em(14px);
    margin:0;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  //TODO: fix date
  .date{
    place-self: center;
  }
  
 :is(.status,.priority){
  color: $color-snow_white;

 }
 .add-task-input-container{
  input{
    width: 50%;
  }
 }
}