.task-list {
  background-color: $color-snow_white;
  @include task-cols;
  &:last-child > *:not(:first-child) {
    border-bottom: 1px solid $layout-border-color;
  }
  font-size: rem(18px);

  .first-col-color {
    @include fullSize;
    // border-top-left-radius: $border-radius;
  }
  &:hover>*:not(:first-child) {
    background-color: $dark-background-color;
  }
  // TODO: ASK ASI
  // &:hover :is(.status, .priority){
  // opacity: 0.8;
  // }

  & > *:nth-child(-n + 3) {
    position: sticky;
    top: 0;
  }
}
