.task-list {
  @include task-cols;
  &:last-child >*:not(:first-child){
    border-bottom: 1px solid $layout-border-color;
  }
  font-size: rem(18px);

  .first-col-color{
    @include fullSize;
    // border-top-left-radius: $border-radius;
  }
  &:hover {
    background-color: $dark-background-color;
  }
}


