.task-preview {
  @include task-row;
  background-color: $color-snow_white;

  &:not(:has(.task-title)) {
    display: grid;
  }

  &:has(.task-txt, .task-title) {
    overflow: hidden;
    display: flex;
    justify-content: start;
  }
  &:has(.task-title) {
    left: 79px;
  }
  &:has(.task-checkbox) {
    left: 46px;
  }

  &:nth-child(3) {
    padding: 6px;
  }

  > *:not(.pulse-bubble, .task-title, .task-action-bar-container) {
    font-size: em(14px);
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  .pulse-bubble {
    @include flex-center;
    margin-left: auto;
    height: 100%;
    min-width: em(65px);
    border-left: 1px solid $layout-border-color;

    * {
      height: 100%;
    }

    a {
      display: inline-block;
      width: em(24px);
      height: em(24px);
    }

    svg {
      color: $layout-border-color;
      &:hover {
        color: $primary-on-secondary-color;
      }
    }
  }

  :is(.status, .priority) {
    color: $color-snow_white;
  }
  .add-task-input-container {
    input {
      width: 50%;
    }
  }
}
.remove-btn {
  position: absolute;
  background-color: $color-explosive;
  border-radius: 50%;
  height: rem(14px);
  width: rem(14px);
}
