.task-filter{
  justify-content: start;
  &>* {
    display: flex;
    align-items: center;
  }
  .btn {
      @include btn(transparent);
      padding: 0;  
  }

  &-icon {
    margin-inline-end: $margin-small;
  }
}
