.task-preview{
  @include task-row;

  *{
    font-size: em(14px);
    margin:0
  }

  .date{
    place-self: center;
  }

  .task-checkbox{
   
  }

 :is(.status,.priority){
  color: $color-snow_white;

 }
}