.update-log {
  gap: em(5px);
  .editor-wrapper {
    .input-update-log {
      width: 100%;
      border-radius: $border-radius-rounder;
      border: 1px solid $color-link_color;
      line-height: normal;
      padding: em(10px) em(20px);
      font-size: em(16px);
      resize: none;

      &:hover {
        background-color: $color-ui_grey;
      }
    }
    .btn-update {
      @include btn;
      @include btn-blue;
      border-radius: $btn-border-radius;
      justify-self: end;
    }
  }
  .updates-wrapper {
    padding: 20px;

    .update {
      display: grid;
      width: 100%;
      position: relative;
      .update-header {
        height: rem(68px);
        padding: 16px 16px 8px 16px;
        .actions-right {
          margin-left: auto;

          .menu-icon {
            @include action;
            display: inline-block;
            width: fit-content;
          }
        }
      }
      .actions-list {
        @include actions-list;

        .action {
          @include action;
        }
      }
    }
  }
  // img {
  //   width: em(300px);
  //   margin-top: auto;
  // }
}
