.update {
  display: grid;
  width: 100%;
  position: relative;
  border: 1px solid $layout-border-color;
  border-radius: $border-radius-rounder;
  margin-bottom: $margin-medium;

  .liked-by-container{
    margin: em(8px) em(16px);
    .avatar{
      width:25px;
      height: 25px;
    }
    span{
      padding-left: em(10px);
      padding-top: em(2px);
      font-size: em(14px);
      color:$color-mud_black
    }
  }


  &-header {
    @include flex-center;
    gap: $padding-small;
    height: rem(65px);
    padding: em(5px) $padding-medium;

    .avatar {
      height: 40px;
      width: 40px;
      border: none;
    }

    .actions-right {
      @include flex-center;
      margin-left: auto;
      color:$secondary-text-color;

      .update-date {
        font-size: em(14px);
        margin-inline-end: em(5px);
        gap:em(4px);

        .icon {
          width: 15px;
          height: 15px;
          fill:$secondary-text-color
        }
      }

      .menu-icon {
        @include action;
        padding: 2px;
        display: inline-block;
        width: fit-content;
        height: 24px;
      }
    }
  }

  .update-body{
    padding:0 15px;
  }

  &-text {
    display: flex;
    padding: $padding-small $padding-medium 0;
    min-height: rem(44px);
    margin-bottom: rem(24px);
  }


  .btn-container {
    // display: flex;
    @include flex-center;
    height: rem(41px);
    width: 100%;
    border-top: 1px solid $layout-border-color;
    border-bottom-right-radius: $border-radius-rounder;
    border-bottom-left-radius: $border-radius-rounder;

    .btn {
      justify-content: center;
      align-items: center;
      gap: $padding-small;
      height: 100%;

      &:hover{
        background-color: $primary-background-hover-color;
        border-radius: $btn-border-radius;
      }
    }

    .btn.liked {
      color: $color-blue-btn;
    }

  

    & > * {
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: 16px;
      .icon-container {
        @include flex-center;
        > * {
          width: 16px;
          height: 16px;
        }
      }

      &:first-child {
        border-right: 1px solid $layout-border-color;
      }
    }
  }

  .btn-cancel{
    height: 32px;
    @include btn(transparent)
  }

  .btn-save{
    height: 32px;
    @include btn;
    @include btn-blue;
    border-radius: $btn-border-radius;
  }

  .btn-editor-container{
    justify-content: end;
    margin-bottom: 5px;
    gap:5px;
  }

  .actions-list {
    @include actions-list;
    top: 50px;
    right: 0;
    left: auto;
    height: fit-content;

    .action {
      @include btn(transparent);
      text-align: start;
      width:100%;
      height: 32px;
      display:flex;
      align-items:center;
      
     
      .icon{
        margin-inline-end:5px;
        color:$color-asphalt
      }
    }
  }
}
