.update-log {
  gap: em(5px);
  .editor-wrapper {
    gap: 5px;
    margin-bottom: 20px;
    
    .btn{
      @include btn(transparent);
  
      padding: 4px 8px;
      width: 80px;
      svg{
        height:20px
      }
    }
    .btn-container{
      padding: 2px 0;
    }

    .emoji-mart{
      position: absolute;
      z-index: 1111;
    }

    .input-update-log {
      width: 100%;
      border-radius: $border-radius-rounder;
      border: 1px solid $color-link_color;
      line-height: normal;
      padding: em(10px) em(20px);
      font-size: em(16px);
      resize: none;

      &:hover {
        background-color: $color-ui_grey;
      }
    }


    .btn-update {
      @include btn;
      @include btn-blue;
      border-radius: $btn-border-radius;
      justify-self: end;
    }
  }

  .quill-editor {
    border-radius: $border-radius;
    .ql-container {
      border-bottom-left-radius: $border-radius-rounder;
      border-bottom-right-radius: $border-radius-rounder;
      border-bottom: 1px solid $color-input-border;
      border-right: 1px solid $color-input-border;
      border-left: 1px solid $color-input-border;
    }
    .ql-toolbar {
      border-top-right-radius: $border-radius-rounder;
      border-top-left-radius: $border-radius-rounder;
      border-top: 1px solid $color-input-border;
      border-right: 1px solid $color-input-border;
      border-left: 1px solid $color-input-border;
    }
    p {
      font-size: rem(16px);
      color: $color-mud_black;
      font-family: $figtree-regular;
    }
  }
}
