.update-log{
  gap: em(5px);
  .editor-wrapper{

    // .textarea-update-log {
    //   width: 100%;
    //   border-radius: $border-radius-rounder;
    //   border: 1px solid $color-link_color;
    //   line-height: normal;
    //   padding: em(10px) em(20px);
    //   font-size: em(16px);
    //   resize: none;

    //   &:not(:focus):hover {
    //     background-color: $color-ui_grey;
    //   }

    //   &:focus {
    //     outline: none;
    //   }

      .btn-update {
        @include btn;
        @include btn-blue;
        border-radius: $btn-border-radius;
        justify-self: end;
      }
    }

    .update{
      display:grid;

      .udapte-header{
        width:100%;

        .udapte-date{
          margin-left:auto;
        }
      }
      
    
  }
  
  // img {
  //   width: em(300px);
  //   margin-top: auto;
  // }
}

