.workspace-sidenav {
  @include sidenav;
  grid-area: workspace-sidenav;
  position: relative;
  color: $primary-text-color;
  background-color: $color-riverstone_gray;
  border-right: 1.2px solid $workspace-side-nav;

  padding-top: 12px;
  &.workspace-close {
    width: 32px;
    & > *:not(.toggle-workspace) {
      display: none;
    }
  }
  .navigation-header {
    padding: 0;
    margin: em(12px) em(16px) em(18px) em(16px);
    .dropdown-navigation-button {
      display: flex;
      align-items: center;
      width: 100%;
      padding: (6px);
      border-radius: em(4px);
      margin-right: em(4px);
      border: 1px solid $icon-color;
    }
  }
  .action-list {
    padding-inline-start: 5px;
    padding-bottom: 16px;
    .action-item {
      width: rem(224px);
      height: rem(32px);
      padding-inline-start: 6px;
      font-size: em(14px);
      border-radius: em(6px);
      &.add {
        padding-inline-start: 4px;
      }
    }
  }
  .spacer {
    border-bottom: 1px solid;
    border-color: $layout-border-color;
    margin: 0 20px;
  }
  & > * {
    cursor: pointer;
  }
  &.workspace-open {
    display: inherit;
  }
  .toggle-workspace {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    padding: 0 2px;
    border: 1px solid #c3c6d4;
    transform: translate(-50%);
    top: rem(20px);
    right: rem(-26px);
    width: rem(26px);
    height: rem(26px);
    transition: width 0.15s ease, padding-inline-end 0.15s ease,
      padding-inline-start 0.15s ease, background-color 0.15s ease;
    .workspace-arrow {
      transform: rotate(180deg);
      transition: transform 100ms ease;
      svg {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
