.workspace-sidenav {
  @include sidenav;
  grid-area: workspace-sidenav;
  position: relative;
  color: $primary-text-color;
  background-color: $color-riverstone_gray;
  border-right: 1.2px solid $workspace-side-nav;
  padding-top: rem(12px);
  transition: width 0.3s ease-out;
  &.workspace-close {
    width: rem(32px);
    min-width: rem(32px);
    transition: width 0.3s ease-in-out;
    & > *:not(.toggle-workspace) {
      display: none;
    }

    &:not(.workspace-close) {
      min-width: 254px; // set your desired minimum width here
    }
  }
  .navigation-header {
    padding: 0;
    margin: rem(9px) rem(14px) rem(18px);
    display: grid;
    grid-template-rows: 36.5 38px;
    .dropdown-header-name {
      font-size: rem(14px);
      color: $color-asphalt;
    }
    .dropdown-navigation-button {
      width: 100%;
      padding: rem(6px);
      margin-right: rem(4px);
      border-radius: $border-radius;
      border: 1px solid $icon-color;
      .workspace-title {
        .workspace-icon-wrapper {
          position: relative;
          .icon-text {
            background-color: $color-lipstick-light;
            color: $color-snow_white;
            font-weight: 600;
            font-size: rem(14px);
            position: relative;
            width: rem(20px);
            height: rem(20px);
            border-radius: rem(8px);
            margin-inline-end: rem(6px);
          }
          svg {
            @include flex-center;
            position: absolute;
            right: 2px;
            bottom: -2px;
          }
        }
        .workspace-name {
          font-family: figtree-semiBold;
          font-weight: 700;
        }
      }
    }
  }
  .action-list {
    padding: 0 rem(16px) rem(16px) rem(14px);
    .action-item {
      width: rem(224px);
      height: rem(32px);
      padding-inline-start: rem(6px);
      font-size: rem(14px);
      border-radius: $border-radius-rounder;
      .item-wrapper {
        svg {
          @include svgFit;
        }
      }

      span {
        margin-inline-start: 8px;
      }
      &.add {
        padding-inline-start: rem(4px);
      }
      &:hover {
        background-color: $primary-background-hover-color;
      }
    }
  }
  .spacer {
    border-bottom: 1px solid;
    border-color: $layout-border-color;
    margin: 0 20px;
  }
  .board-list {
    @include flex-center;
    padding: 22.5px 16px 0px 12px;
    .list-item {
      position: relative;
      align-items: center;
      background-color: inherit;
      width: 100%;
      height: rem(32px);
      margin-bottom: rem(4px);
      padding: 0 8px;
      border-radius: 4px;
      font-size: rem(14px);
      color: $primary-text-color;
      
      .dots-wrapper {
        display: none;
      }
      &.is-active {
        background-color: $color-highlight_blue;
        &:hover {
          background-color: $color-highlight_blue;
          .dots-wrapper {
            display: block;
          }
        }
      }
      span {
        margin-inline-start: rem(8px);
      }
      i {
        height: rem(19px);
      }
    }

    .group-actions-list{
      display:none;
      height: fit-content;
    }

    .group-actions-list.is-modal-open{
      display:grid;
    }
  }
  & > * {
    cursor: pointer;
  }
  &.workspace-open {
    display: inherit;
  }
  .toggle-workspace {
    position: absolute;
    background-color: $color-snow_white;
    border-radius: 50%;
    justify-content: center;
    padding: 0 2px;
    border: 1px solid $ui-border-on-secondary-color;
    transform: translate(-50%);
    top: rem(20px);
    right: rem(-26px);
    width: rem(26px);
    height: rem(26px);
    transition: width 0.15s ease, padding-inline-end 0.15s ease,
      padding-inline-start 0.15s ease, background-color 0.15s ease;
    .workspace-arrow {
      transform: rotate(180deg);
      transition: transform 100ms ease;
      svg {
        @include flex-center;
      }
    }
  }
}
