.group-preview{
  margin-bottom: 30px;

  .group-title{
    font-size: em(18px);
    font-weight: bold;
  }

  .group-title:hover{
    border:1px solid $color-border_light_gray
  }

  .group-title:hover::after{
    content: ' ' attr(data-tasks-count) ' Tasks';
    color: $color-mud_black;
    font-size: em(12px);
  }

  .group-labels{
    grid-template-columns: 2% 2fr 1fr 1fr 1fr 1fr;

  }
}


