.kanban-filter {
  grid-column: 3;
  flex-direction: column;
  width: 268px;
  height: 70vh;
  padding: 9px 16px;
  background-color: $color-snow_white;
  border-left: 1px solid $ui-border-color;

  * {
    font-size: rem(14px);
    font-weight: 300;
  }

  &-title {
    color: $color-scrollbar_gray;
    margin-bottom: $margin-medium;
  }
}
