.task-card{
 
  height: max-content;
  width: 238px;
  margin: 12px;
  padding: $padding-small;

  background-color: $color-snow_white;
 border-radius: $border-radius;
  gap:8px;
  box-shadow: $box-shadow-medium;

  .card-row{
    grid-template-columns: 25px 55px 130px;
    align-content: start;
    padding: $padding-small;
    background-color: $color-snow_white;
    color: $color-asphalt;
    fill: $color-asphalt;
    >*{
      height: 36px;
      &:not(:last-child){

        display: flex;
        align-items: center;
      }
    }
    &:hover{
      background-color: $grey-background-color;
    }
      .task-date .remove-btn .close-icon{
          height: 12px;
          width:12px;
         top:50%;
         left:50%;
         transform: translate(-55%, -55%);

        }
    
    .task-txt {
        width: 190px;
      }

      .icon{
        height:15px;
        width:15px;
      }
    .cmp-name{
      font-size: 14px;
      text-transform: capitalize;
    }
    
    &.taskTitle-row{
      grid-template-columns:170px 24px 20px;

      :is(.icon-wrapper,.cmp-name){
        display:none;
      }
      .task-title{
        padding:0;
        color: $color-mud_black;
        span{
          margin-left: 2px; 
        }
      }    
    }

   
  }

  .pulse-bubble {
    @include flex-center;
    position: relative;
    margin-left: auto;
    height: 100%;

    * {
      height: 100%;
    }

    a {
      display: inline-block;
      width: em(24px);
      height: em(24px);
     }

    .pulse-icon {
      color: $layout-border-color;
      height: 24px;
      width: 24px;
      &:hover {
        color: $primary-on-secondary-color;
      }
      &-empty {
        position: relative;
        color: $primary-on-secondary-color;
        height: 100%;
        width: 100%;       
        p {
          position: absolute;
          bottom: 0;
          right: 0;
          @include flex-center;
          height: rem(13px);
          width: rem(13px);
          background-color: $primary-on-secondary-color;
          color: $color-snow_white;
          border-radius: 50%;
          font-size: 8px;
        }
      }
    }
  }

     @include for-mobile-layout {
        width: 90%;
      .card-row{
        grid-template-columns: 25px 60px 1fr;
        &:last-child{
          align-self: end;
        }
      
      &.taskTitle-row{
        grid-template-columns: 170px 1fr;
      }
      .person-picker{
        margin:auto; 
        .person-list{
          margin-inline-end: 0;

        } 
      }
    }
     }
}