.kanban-layout {
  display: grid;
  grid-template-columns: 14px 1fr 268px;
  height: 100%;
  .top-border {
    z-index: 2023;
    position: sticky;
    top: 193px;
    height: 1px;
    width: 100vw;
    background-color: $ui-border-color;
  }
  .kanban {
    grid-column: 2;
    gap: 14px;
    padding-top: 14px;
    overflow-y: hidden;
    height: 100%;
    .smooth-dnd-container.horizontal {
      display: grid;
      grid-auto-flow: column;
      .label-col {
        cursor: pointer;
        background-color: $color-riverstone_gray;
        width: 260px;
        height: fit-content;
        margin-inline-end: 15px;
        border-radius: $border-radius-rounder;
        &:hover {
          background-color: $color-ui_grey;
        }
        .kanban-tasks {
          max-height: 70vh;
          overflow-y: scroll;
        }
        &-title {
          display: flex;
          align-items: center;
          padding-inline-start: $padding-small;
          height: 40px;
          color: $color-snow_white;
          border-top-right-radius: $border-radius-rounder;
          border-top-left-radius: $border-radius-rounder;
        }
      }
    }
  }
}