.date-picker {
  display: flex;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.date-picker .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}

.date-picker .block:last-child {
  border-right: none;
}
