.date {
  .date-picker {
    .date-picker-container {
      .el-date-editor.el-input,
      .el-date-editor.el-input__wrapper {
        display: none;
      }
    }
  }
}

.demo-date-picker .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
