.fileUpload {
  position: relative;
  .file-container {
    @include flex-center;
    position: relative;
    cursor: pointer;

    &:hover {
      .default-img-wrapper {
        display: flex;
      }
    }
  }

  .img-wrapper {
    position: relative;
    @include flex-center;
    width: 100%;
    height: 36px;
    .file-icon {
      height: 30px;
      width: 30px;
    }
    .remove-btn {
      display: none;
      bottom: 50%;
      right: 10%;
      transform: translate(50%, 50%);
      .close-icon {
        position: absolute;
        right: 3px;
        top: 1px;
        padding: 0.5px;
        width: 10px;
        height: 10px;
      }
    }
    &:hover {
      .remove-btn {
        display: block;
      }
    }
  }
  .default-img-wrapper {
    @include flex-center;
    display: none;
    img {
      position: relative;
      @include flex-center;
    }
    .add-icon {
      position: absolute;
      top: 2px;
      right: 40px;
      color: $color-snow_white;
      padding: 1px;
      background-color: $color-blue-btn;
      border-radius: 50%;
      height: rem(12px);
      width: rem(12px);
    }
  }
  &.is-loading {
    .loader {
      display: block;
    }
    img {
      display: none;
    }
  }
  .loader {
    display: none;
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #eee;
    border-top-color: #333;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
