.person-list{
  padding-left: em(10px);
  position: relative;

  &:hover{
    .plus-icon{
      opacity: 1;
    }
  }

  .plus-icon{
    @include flex-center;
    position: absolute;
    left: 2px;
    padding-top: 3px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  .person-picker-container{
    padding: 16px 16px 0 16px;
    background-color: $color-snow_white;
    width: 360px;
    height: fit-content;
    position: absolute;
    z-index: 100;
    right: -80%;
    border-radius: 10px;
    border: 1px solid #c3c6d4;
    --el-transition-duration: .1s;
    box-shadow: 0 0 6px 2px #d0d0d0;
  }

  .task-member{
    padding-right: 5px;
    width: fit-content;
    background-color: #e5f4ff;
    border-radius: em(15px);
    margin-left: 15px;
    margin-top: 5px;
  }

  .person-picker{
    width: 100%;
    flex-wrap: wrap;
  }

  .search-container{
    position: relative;
    margin: 12px 0;
    
    span{
      position: absolute;
      right:em(5px);
      top:50%;
      transform: translateY(-50%);
      color:$color-asphalt;
    
      width: 18px;
      height: 18px;
      
      svg{
        width: 16px;
        height: 16px;
      }
    }

    input{
      width: 100%;
      line-height: 1.5em;
      border: 1px solid $ui-border-color;
      border-radius: $border-radius;
      padding: em(8px) em(24px);
      font-size:em(14px);

      &:hover{
       border-color: $primary-text-on-secondary-color
      }

      &:focus{
        border-color:transparent;
        outline: 1px solid $color-basic_blue
      }
    }
  }

  .delete-person {
    border-radius: 50%;
    text-align: center;
    border:none;
    height: 16px;
    line-height: 16px;
    width: 16px;
    background-color: transparent;

    &:hover{
      background-color: $color-snow_white;
    }
  }

  .person-fullname{
    padding: 4px;
    font-size: em(12px);
    display:block;
  }

  .suggested-members{
    width: 100%;
    gap: 12px;
    padding-block-end: 5px;

    h3{
      color: $color-asphalt;
      font-family: $figtree-regular;
      font-size: em(14px);
      font-weight: 200;
      margin:5px 0;
    }

    .member-picker-suggestions{
      width: 100%;
      padding: 0 15px;
      border-radius: 5px;
      height: em(40px);
  
      &:hover{
        background-color: #dddfec;
      }
    }
  }


}