.person-picker {
  @include flex-center;
  .v-popper {
    width: 100%;
  }
  .person-list {
    padding-left: em(10px);
    position: relative;

    &:hover {
      .add-icon-wrapper {
        opacity: 1;
      }
    }

    .merge-person{
      background-color: $color-blackish;
      padding: 0 5px;
      border-radius: 25px;
      color:$color-snow_white;
      font-size: em(12px);
      height: 25px;
      min-width: 25px;
    }

    .avatar {
      height: 25px;
      width: 25px;
    }

    .add-icon-wrapper {
      @include flex-center;
      position: absolute;
      top: 30%;
      left: 13%;
      border-radius: 50%;
      opacity: 0;
      height: 13px;
      width: 13px;
      background-color: $color-blue-btn;
      transition: opacity 0.2s ease-in-out;
      .add-icon {
        height: 100%;
        width: 100%;
        color: $color-snow_white;
      }
    }
  }
}

.v-popper__inner:has(.person-picker-container) {
  z-index: 100;
  padding: em(8px) em(2px) 0 em(16px);

  width: 360px;
  height: fit-content;

  border-radius: rem(10px);
  box-shadow: $box-shadow-medium;
  background-color: $color-snow_white;

  &::after {
    @include modal-arrow;
  }

  .avatar {
    height: 25px;
    width: 25px;
  }
}

.task-person {
  padding-right: em(5px);
  width: fit-content;
  background-color: #e5f4ff;
  border-radius: em(15px);
  margin-left: em(15px);
  margin-top: em(5px);
}

.person-picker-avatar {
  width: 100%;
  flex-wrap: wrap;
  gap: rem(8px);
}

.search-container {
  position: relative;
  margin: $margin-medium 0;
  background-color: transparent;

  .search-icon {
    @include flex-center;
    position: absolute;
    right: rem(25px);
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    line-height: 24px;
    border-radius: $border-radius;
    color: $ui-border-color;

    &:hover {
      background-color: $color-ui_grey;
    }
  }

  input {
    @include input(rem(320px))
  }
}

.delete-person {
  @include flex-center;
  position: relative;
  border-radius: 50%;
  text-align: center;
  border: none;
  height: 16px;
  width: 16px;
  background-color: transparent;

  .close-icon {
    color: $color-mud_black;
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 0.5px;
    width: 10px;
    height: 10px;
  }
  &:hover {
    background-color: $color-snow_white;
  }
}

.person-fullname {
  padding: 4px;
  font-size: em(12px);
  display: block;
}

.suggested-members {
  width: 100%;
  gap: 12px;
  padding-block-end: 5px;

  h3 {
    color: $color-asphalt;
    font-family: $figtree-regular;
    font-size: em(14px);
    font-weight: 200;
    margin: 5px 0;
  }

  .member-picker-suggestions {
    width: 100%;
    padding: 0 15px;
    border-radius: 5px;
    height: em(40px);

    &:hover {
      background-color: #dddfec;
    }
  }
}
