.v-popper__inner:has(.priority-label-picker) {
  @include label-picker-container;
  height: rem(240px);

  .color-picker-label {
    @include color-picker-label;
  }
    .priority-picker {
      display: block;
      width: 130px;
      height: 36px;
  
  
      .priority {
        width: 100%;
        height: 100%;
      }
  
    }
}

