.priority-picker {
  display: grid;  
  font-size: em(12px);
  position: relative;

  &:hover {
    .peeling-span {
      display: block;
    }
  }

  .priority{
    @include fullSize;
    display:grid;
    align-items: center;
    justify-content: center;
    color: $color-snow_white;

    span{
      padding: 0 8px
    }
  }
 }

 .priority-label-picker{
  position: relative;
 }

 .priority-label-picker::after{
  content: "";
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%,-10px);
  border-bottom: 20px solid #ffffff;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}
  // display: block;

  .peeling-span {
    @include peeling-span;
  }
  // & * {
  //   height: 100%;
  // }

    
.v-popper__inner:has(.priority-label-picker) {
  @include label-picker-container;
  height: rem(240px);

  .color-picker-label {
    @include color-picker-label;
  }
}

.v-popper__popper .v-popper__arrow-container{
  display: none;
}

.v-popper--theme-dropdown .v-popper__wrapper .v-popper__inner{
  border: none;
}
