.priority-picker {
     display: block;
     & * {
       height: 100%;
     }
 }

.v-popper__inner:has(.priority-label-picker) {
  @include label-picker-container;
  height: rem(240px);

  .color-picker-label {
    @include color-picker-label;
  }
}

