.status-picker {
  display: grid;  
  font-size: em(12px);
  position: relative;

  &:hover {
    .peeling-span {
      display: block;
    }
  }

  .status{
    @include fullSize;
    display:grid;
    align-items: center;
    justify-content: center;

    span{
      padding: 0 8px
    }
}
.peeling-span {
  @include peeling-span;
}

}

.v-popper__popper{

.v-popper__inner:has(.status-label-picker) {
  @include label-picker-container;
  height: rem(280px);
  .color-picker-label {
    @include color-picker-label;
  }
  // &.picker-close {
  //   display: none;
  // }
}
}
