.task-txt{
  @include flex-center;
  justify-self: start;
  padding-inline-start: em(5px);
  align-self: center;
  padding-inline-end: 2px;
  overflow: hidden;
  height: 100%;
  position: relative;
  

  > span {
    @include editableSpan;
    margin-right: 2px;
    font-size: rem(16px);
    width: 100%;

  
  }
  &:hover .default-txt{
    display: flex;
  }
  &:focus-within .default-txt {
     display: none;
  }
  .default-txt{
   display: none;
   align-items: center;
      position: absolute;
      margin-top:5px ;
    .add-icon-wrapper {
        transition: opacity 0.2s ease-in-out;
        .add-icon {
          border-radius: 50%;
          height: 13px;
          width: 13px;
          background-color: $color-blue-btn;
          color: $color-snow_white;
          padding: 1px;
        }
      }
    }
  }

